@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url("/Assets/Background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
img {
  width: 100%;
}

h1 {
  font-size: 1.7rem;
  color: rgb(0, 8, 20);
  margin-bottom: 1rem;
}
p {
  font-size: 1.1rem;
  color: black;
}
a {
  color: rgb(2, 48, 71);
  font-weight: 600;
}
.heading {
  color: white;
}

.inner-container {
  background: rgb(2, 48, 71);
  text-align: center;

}
.phone {
max-width: 23rem;

}
.email-container {
  margin-top: 3rem;
  margin-left: 1.5rem;
  background-color: white;
}
.intro-text {
  text-align: center;
  margin-bottom: -2rem;
}
.container {
  background-color: white;
}

label {
  display: block;
  font-size: 1.4;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

input {
  width: 16rem;
  height: 2.5rem;
  border-radius: 0.2rem;
  border: 2px rgb(206, 212, 218) solid;
  margin-bottom: 2rem;
  padding-left: 0.7rem;
}

button {
  background: rgb(2, 48, 71);
  width: 16rem;
  height: 2.5rem;
  border: transparent;
  color: white;
  font-weight: 600;
  border-radius: 0.3rem;
  font-weight: 1.5rem;
  transition: 0.4s;
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
  
}

button:hover {
  transform: scale(1.1);
  transition: ease-in-out;
}

@media screen and (min-width: 1100px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgb(206, 212, 218) solid;
    min-height: 8vh;
   max-width: max-content;
  }

  input {
    width: 20rem;
    height: 3rem;
    margin-bottom: 3rem;
  }
  button {
    width: 20rem;
    height: 3rem;
    margin-top: 2rem;
  }
}
